* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}

.js-form{
    display: hidden;
}

.checked {
    color: gold;
  }

#js-addform{
    display: flex;
}

.formDisplay{
    display: null;
    flex-direction: null;
    border: solid 1px black;
    padding: 20px;
    margin: 10px;
}

.filter{
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
}

#js-bookmarks-list{
    list-style: none;
}