* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}

.js-form{
    display: hidden;
}

.checked {
    color: gold;
  }

#js-addform{
    display: flex;
}