
.header{
    margin-bottom: 30px;
    height: 80px;
    padding: 20px;
    background-color: lightblue;
    border-bottom: 1px solid black;
    text-align: center;
}

body{
    background-color: rgb(204, 204, 204);
}

.formDisplay{
    display: inline-block;
    
    flex-direction: null;
    padding: 20px;
    margin: 10px;
}

#js-addForm.formDisplay{
    width: 60%;
}

.form-container{
    width: 60%;
    font-size: 10px;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.filter{
    text-align: center;
    width: 60%;
    border: solid 1px rgb(150, 150, 150);
    padding: 10px;
    margin: auto;
}

#filter-stars{
    font-size: 
}

.checked {
    color: gold;
}

#js-addform{
    display: flex;
}

#js-bookmarks-list{
    list-style: none;
}